<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Suporte</title>
	<link rel="stylesheet" type="text/css" href="../static/suporte.css">
</head>
<body>

	<div>
		<a href="{{ url_for('home') }}">
		<img class="img" src="http://localhost:8000/img/pngegg.png">
		</a>
	</div>

<nav>
	<div id="container">
		<h1 class="tel">TELEFONE PARA CONTATO</h1>
		<h2 class="tel">(12) 99230-3576 </h2>
		<div id="linha"></div>
		<h3 class="email">EMAIL PARA CONTATO</h3>
		<h4 class="email">BMGYMSUPORTE@GMAIL.COM</h4>
	</div>
</nav>




</body>
</html>